.input-group {
    width: 40%;
    left: 26%;
    margin-top: 1%;
}

@media screen and (min-width: 600px) {
    .videoshow {
        margin-left: 26%;
        margin-top: 2%;
    }

    .list-videos {                
        margin-left: 18%;
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    /* .videoshow {
        margin-left: 26%;
        margin-top: 2%;
    } */

    .list-videos {
        margin-top: 2%;           
        margin-left: 22%;
        width: 60%;
    }
}